*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#111;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

font-family:Arial,sans-serif;

}

.container{

text-align:center;

}

h1{

color:white;

margin-bottom:20px;

}

#clock{

font-size:70px;

font-weight:bold;

color:#00ff99;

background:#222;

padding:20px 40px;

border-radius:15px;

box-shadow:0 0 20px #00ff99;

}

#date{
margin-top:20px;
color:white;
font-size:24px;
font-weight:bold;
}